@import url('https://fonts.googleapis.com/css?family=Monoton');
body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "century gothic", sans-serif;
}
a {
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}
h2, h3 {
	font-family: arial;
}
h2 {
	border-bottom: 1px solid #eee; 
	width: 90%;
	margin: 0 auto;
}	
.btn-all {
	background-color: #650ed8f2;
	color: #fff;
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 14px;
	transition: 1s all;
}
.btn-all:hover {
	background-color: #27244e00;
	color: #650ed8f2;
	padding: 10px 30px;
	border-radius: 20px;
	border: 1px solid #650ed8f2;
	font-size: 14px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix {
	clear: both;
}
.nav { 
	margin-top: 10px;
 	display: inline-block;
  	background: #fff;
  	color: white;
  	top: 0;
  	height: 60px;
  	width: 100vw;
  	z-index: 10;
}
.nav .logo a {
	float: left;
  	text-decoration: none;
  	margin-left: 50px;
  	letter-spacing: 2;
  	color: #8600b3;
  	font-size: 20px;
  	padding: 10px 20px;
  	transition: 2s border;
  	font-family: 'Monoton', cursive;
}
.nav .logo a:hover {
	border-bottom: 1px solid #ffc;
}
.nav .logo a span {
	color: #e60073;
}
.nav .navbar ul {
	float: right;
  	list-style-type: none;
  	margin-right: 100px;
}
.navbar ul li {
	display: inline-flex;
  	margin-right: 10px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 100;
  padding: 10px 10px;
  transition: all 1s; 
}
.navbar ul li a:hover {
	background: #8600b3;
  	color: #fff;
  	border: none;
}
.navbar ul li a:click {
	transition: 2s all;
}
.navbar .icon {
	display: none;
	color: #8600b3;
}	
.header-content {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(../images/header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	padding-top: 150px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.header-content .header-text {
	margin: 0 auto;
	padding: 10px;
	color: rgb(245, 245, 240);
	text-align: center;
	box-sizing: border-box;
	line-height: 20px;
}
.header-content .header-text h1 {
	font-family: arial;
	font-size: 4em;
	letter-spacing: 2px;
	text-align: center;
}
.header-content .header-text p {
	letter-spacing: 2px;
}
.header-content .header-text .txt {
	padding: 20px;
}
.header-content .header-text a.btn {
	margin-top: -20px;
	background-color: #d80e52;
	color: #fff;
	padding: 15px 30px;
	border-radius: 20px;
	font-size: 14px;
	box-shadow: 2px 6px 19px 0px #030d04;
	transition: 1s all;
}
.header-text a.btn:hover {
	background-color: #fff;
	color: #d80e52;
	font-weight: bold;
	box-sizing: border-box;
}
.about-us {
	
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 70px;
	text-align: center;
}
.about-us p {
	color: #bd0b5d;
}
.about-us h2 {
	border-bottom: 1px solid #eee; 
	width: 90%;
	margin: 0 auto;
}
.about-us .h4 {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: black;
	font-size: 14px;
	text-align: center;
}
.about-us .about-text {
	margin-bottom: 15px;
}
.bonanza {
	background: url(../images/bonanza.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.bonanza .bonanza-content {
	padding-top: 50px;
	text-align: center;
	line-height: 0.6;
}
.bonanza .off {
	font-size: 5em;
	color: #fff;
	text-shadow: 1px 2px #3a3838;
}
.bonanza p {
	font-family: arial;
	color: #ff065afe;
	font-size: 2em;
	line-height: 30px;
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px #fee;
}
.our-services {
	margin-top: 50px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.our-services .services-content {
	width: 200px;
	margin: 20px;
	overflow: hidden;
	background-color: #f7f7f1;
	border-radius: 10px;
	border-bottom: 1px solid #a919c3;
	transition: 1s ease-in-out;

}
.our-services .services-content:hover {
	box-sizing: border-box;
	box-shadow: 1px 2px 8px 2px #9a9393;
	cursor: pointer;
	color: #a919c3;
	transform: scale(1 1);
}
.services-content .tooltiptext {
	visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}
.services-content .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.services-content:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.appointment {
	background: url(../images/appoint.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.appointment .appointment-content {
	padding-top: 30px;
}
.appointment .appointment-content h2 {
	text-align: center;
	border-bottom: 1px solid #bd0b5d;
	line-height: 2.5;
	width: 100%;
}
.appointment .appointment-content input {
	width: 100%;
	height: 40px;
	font-family: sans-serif;
	font-size: 17px;

}
.appointment .appointment-content input[type="textarea"]
	{
		height: 60px;
	}	
.appointment .appointment-content input[type="text"],
.appointment .appointment-content input[type="email"],
.appointment .appointment-content input[type="number"],
.appointment .appointment-content input[type="textarea"]
	{
		border-radius: 5px;
		margin-bottom: 10px;
		padding-left: 10px;
	}
.appointment .appointment-content input:hover {
	box-shadow: 1px 2px 8px 2px #23043c;
}
.appointment .appointment-content input[type="submit"]
	{
		border: none;
		border-radius: 5px;
		background: #bd0b5d;
		color: #fff;
		margin: 0;
		overflow: hidden;
		padding: 0 20px;
		padding: -50px;
	}
.appointment .appointment-content input[type="submit"]:hover
	{
		background: transparent;
		border: 1px solid #fff;
		cursor: pointer;
	}
.testimonial {
	text-align: center;
}
.testimonial h1 {
	border-bottom: 1px solid #eee;
	line-height: 60px;
}	
.testimonial .test1 {
	color: #bd0b5d;
	width: 350px;
	margin: 20px;
	padding: 20px;
	text-align: center;
	display: inline-block;
}
.testimonial .test1 p{
	color: #bd0b5d;
}	
.testimonial .test1 .test-image {
	width: 100px;
}
.footer {
	height: 350px;
	background: #15023cf0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.contact {
	margin: 20px; 
	display: inline-block;
	text-align: center;

}
.navbar-footer {
	margin: 20px; 
	display: inline-block;
	text-align: center;

}
.footer a, p{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}
.newsform {
	padding: 20px;
}
.newsform input {
	padding: 10px;
	transition: 1s all;
}
.newsform input[type="submit"]
	{
		border: none;
		background: #bd0b5d;
		color: #fff;
		margin: 0;
		overflow: hidden;
	}
.newsform input[type="submit"]:hover
	{
		background: transparent;
		border: 1px solid #fff;
		cursor: pointer;
	}
.footer .contact {
	margin: 20px;	
	transition: 1s all;
	text-align: left;
}
.footer .navbar-footer {
	text-align: left;
}
.footer .navbar-footer a:hover{
	color: #bd0b5d;
}	
.footer .footertext {
	line-height: 2.5;
	border-top: 1px solid #ffc;
	margin: 30px;
	font-size: 12px;
	color: #bd0b5d;
	text-align: center;
}
.footer .footertext a{
	text-align: center;
	color: #bd0b5d;
	transition: 1s all;
}

/*Responsive Website*/
@media(max-width: 768px) {
    .navbar {
      width: 90%;
	}
} 
@media(max-width: 638px) {
    .navbar {
     width: 100%;
}
}
@media(max-width: 640px) {
    .navbar ul {
      display: none;
    }
  } 
@media(orientation: landscape) {
    .navbar ul {
      display: inline-block;
   }
}
/*Mobile Icon Menu*/
@media(max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }
.icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  } 

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Bars Shadows */
  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  } @keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    } @-webkit-keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  } @keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    } @-webkit-keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      }

  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  } @keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    } @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      }


  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
.header-content .header-text h1 {
	font-family: arial;
	font-size: 3em;
	letter-spacing: 2px;
	text-align: center;
} 
}


/*======================================================
                   Responsive Mobile Menu 
  ======================================================*/
.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  z-index: 12;
  text-align: center;
}

.overlay-menu ul, .overlay-menu li {
  text-align: center;
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
/*   opacity: 0; */
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
/*   -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

